src/main/resources/xsd/invviteme.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:c="http://invviteme.com/domain" targetNamespace="http://invviteme.com/domain" version="1.0">

  <xs:import schemaLocation="schema3.xsd"/>

  <xs:complexType name="AddressEvent">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="addressEventId" type="xs:int"/>
          <xs:element minOccurs="0" name="placeName" type="xs:string"/>
          <xs:element minOccurs="0" name="streetName" type="xs:string"/>
          <xs:element minOccurs="0" name="number" type="xs:int"/>
          <xs:element minOccurs="0" name="complement" type="xs:string"/>
          <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
          <xs:element minOccurs="0" name="cityName" type="xs:string"/>
          <xs:element minOccurs="0" name="latitude" type="xs:long"/>
          <xs:element minOccurs="0" name="longitude" type="xs:long"/>
          <xs:element minOccurs="0" name="state" type="c:State"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="stateName" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="eventId" type="xs:int"/>
          <xs:element minOccurs="0" name="owner" type="c:Users"/>
          <xs:element minOccurs="0" name="eventTypeAccess" type="c:EventTypeAccess"/>
          <xs:element minOccurs="0" name="eventType" type="c:EventType"/>
          <xs:element minOccurs="0" name="title" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="observation" type="xs:string"/>
          <xs:element name="eventForFree" type="xs:boolean"/>
          <xs:element name="hiddenEvent" type="xs:boolean"/>
          <xs:element name="canSendInviteExternal" type="xs:boolean"/>
          <xs:element name="minimumAge" type="xs:int"/>
          <xs:element minOccurs="0" name="eventDate" type="xs:date"/>
          <xs:element minOccurs="0" name="eventInitHour" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="eventEndHour" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="limitGuests" type="xs:int"/>
          <xs:element minOccurs="0" name="addressEvent" type="c:AddressEvent"/>
          <xs:element minOccurs="0" name="statusType" type="c:StatusType"/>
          <xs:element minOccurs="0" name="dateUpdated" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Users">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="userId" type="xs:int"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element name="gender" type="xs:unsignedShort"/>
          <xs:element minOccurs="0" name="password" type="xs:string"/>
          <xs:element minOccurs="0" name="statusType" type="c:StatusType"/>
          <xs:element minOccurs="0" name="dateUpdated" type="xs:date"/>
          <xs:element minOccurs="0" name="birthday" type="xs:date"/>
          <xs:element name="admin" type="xs:boolean"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StatusType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventTypeAccess">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="eventTypeAccessId" type="xs:int"/>
          <xs:element minOccurs="0" name="typeAccess" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="category" type="xs:string"/>
      <xs:element minOccurs="0" name="statusType" type="c:StatusType"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GuestEvent">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="guestEventId" type="xs:int"/>
          <xs:element minOccurs="0" name="event" type="c:Event"/>
          <xs:element minOccurs="0" name="user" type="c:Users"/>
          <xs:element minOccurs="0" name="attendanceConfirmed" type="xs:boolean"/>
          <xs:element minOccurs="0" name="timeSentToken" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="token" type="xs:string"/>
          <xs:element minOccurs="0" name="dateAttendanceConfirmed" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SocialType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserGuestUnified">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="userGuestUnifiedId" type="xs:int"/>
          <xs:element minOccurs="0" name="user" type="c:Users"/>
          <xs:element minOccurs="0" name="event" type="c:Event"/>
          <xs:element minOccurs="0" name="amount" type="xs:int"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UserSocialType">
    <xs:complexContent>
      <xs:extension base="resourceSupport">
        <xs:sequence>
          <xs:element minOccurs="0" name="userSocialTypeId" type="xs:int"/>
          <xs:element minOccurs="0" name="user" type="c:Users"/>
          <xs:element minOccurs="0" name="socialType" type="c:SocialType"/>
          <xs:element minOccurs="0" name="status" type="xs:boolean"/>
          <xs:element minOccurs="0" name="dateUpdated" type="xs:date"/>
          <xs:element minOccurs="0" name="message" type="c:Message"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AddressEventResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addressEvents" nillable="true" type="c:AddressEvent"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="c:Event"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventTypeAccessResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eventTypeAccesses" nillable="true" type="c:EventTypeAccess"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EventTypeResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eventTypes" nillable="true" type="c:EventType"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SocialTypeResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="socialTypes" nillable="true" type="c:SocialType"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StateResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="states" nillable="true" type="c:State"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StatusTypeResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="statusTypes" nillable="true" type="c:StatusType"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserResponseList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="c:Users"/>
      <xs:element minOccurs="0" name="message" type="c:Message"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
